body{
        color:white;
   background: black;
    }

    header{
     border-bottom: ;:solid 2xp rgb(42, 122, 228);
     margin:20px;
     padding: 20px;
     font-size: 32px;
     color: rgb(42, 122, 228);
    }